.swal2-container {
  z-index: 9999 !important;
}

div:where(.swal2-container) div:where(.swal2-popup) {
  width: 30em !important;
  border-radius: 15px !important;
  flex: 1 1 auto !important;
  overflow-y: auto !important;
  padding: 30px 10px !important;
  font-size: 15px !important;
}

.hidden {
  display: none;
}

/* Custom styles for scrollbar */
.auto-hide-scrollbar {
  flex-grow: 1;
  height: 200px;
  overflow-y: auto;
  /* Custom scrollbar styling with transition */
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

/* Webkit browsers (Chrome, Safari, Edge) */
.auto-hide-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.auto-hide-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.auto-hide-scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
}

.auto-hide-scrollbar:hover {
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}

.dialogTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.dialogCloseIcon {
  transform: rotate(45deg);
  transition: transform 0.3s ease;
}

.animation-card {
  cursor: pointer;
  border: '1px solid';
  border-color: 'divider';
  transition: 'all 0.2s ease';
  position: 'relative';
  border-radius: 8px;
}

.animation-card:hover {
  transform: scale(1.03);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2); /* or use a specific value if you prefer */
}

.tabs {
  width: 200px;
}

.profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

/* Add this to your CSS file */
.editorClassName img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 10px 0;
}

.toolbarClassName {
  border: 1px solid #eee;
  border-bottom: none;
  border-radius: 4px 4px 0 0;
}

.wrapperClassName {
  border: 1px solid #eee;
  border-radius: 0 0 4px 4px;
  margin-bottom: 20px;
}

.my-calendar {
  font-family: 'Roboto', sans-serif;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  height: 600px;
  background: #fff;
  padding: 20px;
}

.my-calendar .rbc-header {
  background-color: #a2a3a5;
  color: white;
  font-weight: 600;
  text-align: center;
  padding: 8px 0;
  border-radius: 10px 10px 0 0;
}

.rbc-month-view {
  border: none;
}

.my-calendar .rbc-month-view .rbc-date-cell {
  padding: 10px 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}
.my-calendar .rbc-month-view .rbc-date-cell:hover {
  background-color: #e9f2fb;
  border-radius: 6px;
}

.my-calendar .rbc-today {
  background-color: #d0e7ff !important;
  font-weight: 700;
}

.rbc-toolbar .rbc-toolbar-label {
  font-size: 1.2em;
  font-weight: 500;
}

.warning-chip {
  color: rgb(56, 55, 55) !important;
  font-weight: 500 !important;
}

.rdw-editor-main {
  min-height: 200px;
}
