/* DataTable.css */

/* Main Table Container */
.rdt_Table {
  font-family: 'Inter', sans-serif;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Table Header - More specific selector */
div.rdt_TableHeadRow {
  background-color: #f5f5f5 !important;
}

/* Table Header Cells - More specific selector */
div.rdt_TableHeadRow div.rdt_TableCol {
  font-weight: bold !important;
  font-size: 14px !important;
  text-transform: capitalize !important;
  color: #333 !important; /* Adjust text color as needed */
  padding: 12px 8px !important;
}

/* Table Body Rows */
.rdt_TableBody .rdt_TableRow {
  border-bottom: 1px solid #eee;
}

/* Hover Effect */
.rdt_TableBody .rdt_TableRow:hover {
  background-color: #f9f9f9 !important;
}

/* Table Cells */
.rdt_TableCell {
  padding: 10px 8px !important;
}

.css-cxhky3-MuiAutocomplete-root .MuiOutlinedInput-root {
  padding: 7px 9px !important;
}

